body {
    padding: 0;
    margin: 0;
}

header {}

.canh-giua {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.canh-giua .menu {
    display: inline-block;
    background-color: black;
    max-width: 1200px;
    width: 100%;
    height: 78px;
}

.canh-giua .menu:after {
    content: '';
    display: block;
    clear: both;
}


/* NAV */

.canh-giua .menu .nav {
    float: left;
}

.canh-giua .menu .nav .list-items {
    list-style: none;
    padding-top: 15px;
}

.canh-giua .menu .nav .list-items:after {
    content: '';
    display: block;
    clear: both;
}

.canh-giua .menu .nav .list-items .item {
    float: left;
    margin-right: 20px;
}

.canh-giua .menu .nav .list-items .item a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


/* LOGO */

.canh-giua .menu .logo {
    background-color: none;
    float: left;
}

.canh-giua .menu .logo img {
    display: block;
    height: 58px;
    margin: 10px 0 0 10px;
}


/* SEARCH */

.canh-giua .menu .search {
    background-color: none;
    color: white;
    float: right;
    text-transform: uppercase;
    padding: 20px;
    padding-top: 30px;
}

.canh-giua .menu .search {
    border-left: 1px solid white;
    height: 28px;
}


/* SLIDER */

.slider {
    height: 80vh;
    width: 100vw;
    background-color: red;
}

.slider-banner .img {}


/* CONTAINER */

.list-article {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    max-width: 1200px;
    width: 100%;
}

.canh-giua-article {
    text-align: center;
}

.list-article:after {
    content: '';
    display: block;
    clear: both;
}

.list-article .article {
    float: left;
    width: 50%;
    position: relative;
    min-height: 50%;
}

.list-article .article:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.list-article .text-article {
    list-style: none;
}

.list-article .content-article {
    list-style: none;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

.middle {
    display: inline-block;
}