body {
  padding: 0;
  margin: 0;
}

header {
  
}

.canh-giua {
  text-align: center;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.canh-giua .menu {
  display: inline-block;
  background-color: black;
  max-width: 1200px;
  width: 100%;
  height: 78px;
}

.canh-giua .menu:after {
  content: '';
  display: block;
  clear: both;
}
/* NAV */
.canh-giua .menu .nav {
  float: left;
}

.canh-giua .menu .nav .list-items {
  list-style: none;
}

.canh-giua .menu .nav .list-items:after {
  content: '';
  display: block;
  clear: both;
}

.canh-giua .menu .nav .list-items .item {
  float: left;
  margin-right: 20px;
}

.canh-giua .menu .nav .list-items .item a {
  display: block;
  color: white;
  text-decoration: none;
}

/* LOGO */
.canh-giua .menu .logo {
  background-color: red;
  float: left;
}
.canh-giua .menu .logo img {
  display: block;
  height: 58px;
}
/* SEARCH */
.canh-giua .menu .search-menu {
  background-color: rgb(139, 42, 148);
  float: right;
  border-left: 1px dashed rgb(90, 90, 90);
}
/* SLIDER */
.slider-banner {
  height: 80vh;
  width: 100vw;
  background-color: red;
}

.slider-banner img {}







